*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;  
}

html, body {
  height: 100%; 
}

body {
  display: flex;
  flex-direction: column; 
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-right a {
  margin-right: 5px;
  font-size: 10px;
  width: 50%;
}

.header-left {
  width: 50%;
  font-size: 13px;
}

.large-screen-1 {
 display: none;
}

@media screen and (min-width: 1024px) {
  .large-screen-1 {
    display:contents;
  }
}

.x {
  color:  rgb(255, 145, 0);
}

.section-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(241, 239, 239);
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.section-1-left {
  width: 50%;
  padding-left: 14.5%;
}

.section-1-right {
  width: 50%;
  object-fit: contain;
}

.section-1-right img {
  width: 100%;
  border-radius: 50%;
}

.section-1-button {
  width: 120px;
  font-size: 8px;
  height: 30px;
  border-radius: 15px;
  border: none;
  background-color: rgb(228, 131, 5);
  color: white;
  padding: 5px;
}

.creative {
  color: rgb(219, 41, 41);
}

.description-1 {
  color: gray;
}

.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 100px;
}
.section-2-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.section-2-right {
  width: 100%;
  padding-right: 20%;
  padding-top: 8%;
  display: flex;
  flex-direction: column;
}

.section-2-img-1 {
  width: 50%;
  object-fit: cover;
  padding-top: 5%;
}

.section-2-img-2 {
  width: 50%;
  object-fit: cover;
  white-space: wrap;
  padding-right: 10%;
}

.Working-experiance {
  font-size: 20px;
  height: 35%;
}

.section-2-img {
  width: 95%;
  height: 100%;
}

.section-2-imgs {
  width: 100%;
  height: 65%;
}

.about {
  color: brown;
  font-size: 10px;
  font-weight: 900;
  margin: 0px;
}

.about-1 {
  margin: 0;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-2 {
  margin: 0;
}

.about-3 {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(104, 97, 97);
}
@media screen and (min-width: 768px) {
  .section-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;}
  }

  .section-3 {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .section-3 h4 {
    margin: 0;
    color: rgb(233, 78, 78);
  }

  .section-3 h2 {
    margin: 0;
  }

  .icon {
    width: 30px;
    margin: auto;
  }

  .icons {
    width: 60px;
    height: 60px;
    background-color: rgb(218, 178, 178);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .icons-1 {
    width: 60px;
    height: 60px;
    background-color: rgb(167, 167, 184);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .icons-2 {
    width: 60px;
    height: 60px;
    background-color: rgb(136, 161, 149);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .icons-3 {
    width: 60px;
    height: 60px;
    background-color: rgb(235, 230, 159);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
  }

  .title {
    font-size: 15px;
    font-weight: bold;
  }

  .section-3-details-box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 180px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 1px;
    border-color: rgb(240, 235, 235);
    border-radius: 2px;
    flex-shrink: 0;
    gap: 15px;
  }

.description {
  width: 100%;
  text-align: center;
  color: rgb(179, 175, 175);
  padding: 5px;
}
  .section-4-header {
    text-align: center;
  }

  .section-4-header h4 {
    color: rgb(185, 90, 90);
    font-weight: bolder;
    font-size: 10px;
  }

  .section-4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  .section-4-left, .section-4-left-a {
    width: 100%;
  }

  .section-4-left {
    padding-right: 20%;
  }

  .section-4-left-a {
    padding-left: 20%;
  }

  .section-4-right {
    width: 100%;
  }

  .section-4 h4 {
    color:rgb(185, 90, 90);
    font-size: 10px;
  }

  .see-more-link {
    margin-bottom: 50px;
    color: rgb(185, 175, 175);
  }

  .see {
    color: rgb(235, 141, 0);
  }

  @media screen and (min-width: 768px) {
    .section-4 {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 5px;}
    }


    .section-5 {
      background-color:rgb(22, 43, 70);
      display: flex;
      flex-direction: row;
      gap: 10px;
      width: 100%;
      padding: 50px;
    }

    .section-5-icon {
      width: 25px;
    }

    .section-5-detials {
      display: flex;
      flex-direction: column;
      width: 25%;
      align-items: center;
      gap: 10px;
    }

    .section-5-stat {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: white;
      gap: 5px;
    }

    .section-5 h4, .section-5 h6 {
      margin: 0;
    }


    .section-6{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .section-6-img {
      width: 100%;
      height: 100%;
    }

    .section-6-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 12%;
    }

    .section-6-left {
      width: 100%;
      position: relative;
    }

    .client-testify {
      color: rgb(165, 161, 161);
    }

    .play {
    width: 35px;
    height: 35px;
    background-color: rgb(240, 185, 5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    }

    .playss {
    width: 55px;
    height: 55px;
    background-color: rgb(190, 166, 86);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    }

    .plays {
      position: absolute;
      top: 45%;
      left: 37%;
      align-items: center;
      color: white;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .icon-play {
      width: 15px;
      margin: auto;
    }

    .section-6-right-man {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    .six-right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

.company-name {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-top: 50px;
}

.section-6-right-man-right h3 {
  margin-bottom: 3px;
  font-size: 20px;
  margin: 0;
}

.section-6-right-man-right {
  font-size: 12px;
}

.section-6-right-man-left {
  width: 100px;
}

    @media screen and (min-width: 768px) {
      .section-6{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
      }
      }

      .section-7 {
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }

      .section-7-detials {
        width: 200px;
        object-fit: contain;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        align-items: center;

      }

      .thumbnail {
        width: 80%;
        height: 50%;
        white-space: nowrap;
      }

      .section-7-name, .section-7-names {
        font-size: 20px;
        font-weight: bold;
      }

      .section-7 a, .section-7-names {
        margin-right: 5px;
        font-size: 10px;
      }

      .section-7-names, .section-7-namess {
        color: rgb(197, 55, 55);
      }
      .section-7-names {
        font-size: 20px;
        font-weight: bold;
      }
      .blog-icon {
        width: 15px;
      }

      .blog-stat {
        display: flex;
        flex-direction: row;
        font-size: 10px;
        align-items: center;
        color: rgb(138, 135, 135);
      }

      .blog-title {
        font-size: 25px;
        font-weight: bold;
      }

      .blog-page {
        font-size: 12px;
        color: rgb(138, 135, 135);
      }

      .section-8 {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 400px;
      }

      .blog-thumbnail {
        width: 100%;
      }

      .section-8-detials {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 300px;
        height: 250px;
        background-color: rgb(255, 255, 255);
        border: solid;
        border-width: 1px;
        border-color: rgb(240, 235, 235);
        border-radius: 2px;
        flex-shrink: 0;
        gap: 15px;
      }

.footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(22, 43, 70);
  width: 100%;
  color: white;
  padding-left: 12%;
  padding-right: 12%;
  gap: 3%;
  font-size: 12px;
  color: rgb(190, 186, 186);
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer h2 {
  font-size: 17px;
  font-weight: 900;
  color: white;
}

.footer-sub,.footer-sub-1, .footer-sub-2 {
  width: 100%;
  white-space: wrap;
}

.footer-img {
  width: calc(33.33% - 10px);
  height: 50px;
}

.footer-sub-1, .footer-sub-2 {
  display: none;
}

.footer-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.footer-2 {
  background-color: rgb(25, 38, 57);
  width: 100%;
  font-size: 14px;
  text-align: center;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-sub a {
  display: block;
  padding-bottom: 3%;
}

.reveal {
  color: rgb(255, 166, 0);
}

.blog-title-stats {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}

@media screen and (min-width: 1024px) {
  .footer-sub-1, .footer-sub-2 {
    display: block;
  }
}